/* Side Nav Bar */
.user-view{
    height: 200px;
}

#sidebar-background{
    width:100%;
    height:100%;
}
#slide-out{
    background-color: darkolivegreen;
}
#menu-icon{
    font-size: 45px;
}
#sidebar-title{
    font-size: 29px;
}